<div class="login-form">
        <form ng-submit="onAuctionSubmit(  )" >
            <h4 class="text-left">Select Auction Type</h4>       
            <div class="form-group">
                <select class="form-control" ng-model="selectedAuctionType" ng-change="onAuctionTypeChange( selectedAuctionType )"  ng-options="auctionT as auctionT.name for auctionT in auctionTypes track by auctionT.name" ></select>                
            </div>
            <h4 class="text-left">Select Auction Item</h4>       
            <div class="form-group">
                <select class="form-control" ng-model="selectedItem"  ng-options="si as si.auctionItemId for si in items track by si.itemId" ></select>                
            </div>           
            <h4 class="text-left">Auction Id</h4>   
            <div class="form-group">
                <input type="text" class="form-control" placeholder="auctionId" ng-model="auctionId" required="required">
            </div>
            <h4 class="text-left">Auction Description</h4>   
            <div class="form-group">
                <input type="text" class="form-control" placeholder="write description" ng-model="auctionDescription" required="required">
            </div>

            <div ng-if="selectedAuctionType.name == 'KthPriceAuction'" >
                <h4 class="text-left">K</h4>   
                <div class="form-group" >
                    <input type="number" ng-model="selectedItem.k" min="1" max="5" class="form-control" placeholder="write K value" required="required">
                </div>   
            </div>  

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block mt">Create Auction</button>
            </div>
            <!--
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            </div>
        -->        
        </form>
</div>
<!-- https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form -->