<div class="container container-fluid">
        <form>
            <h3 class="text-center" ><b><i><u>Auction History</u></i></b></h3>
            <h5 class="text-center text-danger" ng-show="auctions.length == 0">No Auction Present</h5>
            <div class="table-responsive">          
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-repeat = "auctionLabel in auctionLabels" >{{auctionLabel}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="auction in auctions">
                                <td>{{ $index +  1 }}</td>
                                <td ng-bind = "auction.auctionId" ></td>
                                <td ng-bind = "auction.type" ></td>
                                <td ng-bind = "auction.description" ></td>
                                <td >{{ auction.auctionStartTime ? auction.auctionStartTime : "NA" }}</td>
                                <td >{{ auction.auctionEndTime ? auction.auctionEndTime : "NA" }}</td>
                                <td ng-bind = "auction.status" ></td>
                                <td >{{ auction.auctionItem.split("#")[1] }}</td>
                                <td >{{ auction.winnerBid ? auction.winnerBid.split("#")[1] : "NA" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>            
        </form>
</div>
<!-- https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form -->