<div class="login-form">
        <form ng-submit="onBidSubmit( selectdAuction, bidValue )" >
            <h4 class="text-left">Select Auction Type</h4>       
            <div class="form-group">
                <select class="form-control" ng-model="selectedAuctionType" ng-change="onAuctionTypeChange( selectedAuctionType )"  ng-options="auctionT as auctionT.name for auctionT in auctionTypes track by auctionT.name" ></select>                
            </div>            
            <h4 class="text-left">Select Auction</h4>       
            <div class="form-group">
                <select class="form-control" ng-options="auction as auction.auctionId for auction in auctions track by auction.auctionId" ng-model="selectdAuction"></select>                
            </div>
            <h4 class="text-left">Insert Bid</h4>   
            <div class="form-group">
                <input type="number" class="form-control" placeholder="bidvalue" ng-model="bidValue" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block mt">Submit Bid</button>
            </div>
            <h4 class="text-left">Current Max Bid</h4>   
            <div class="form-group">
                <p class="form-control" ng-bind="currentMaxBid" ></p>
            </div>            
            <!--
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            </div>
        -->        
        </form>
</div>
<!-- https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=simple-login-form -->